body {
    margin:0;
}

/* .CNavbar {
    top: 0;
}

.CoderclassImage {
    max-height: 50px;
    width: auto;
    height: auto;
}

ul.ulNavbar {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    width: 100%;
}

li.navbarItem {
    display: inline-block
} */

p.level {
    width: inherit;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 5px;
    margin-top: 0;
    font-size: 20px;
    border-radius: 10px;
    border: solid darkgray;
}

ul.itemList {
    height: auto;
    min-height: 50px;
}

li.item:not(.placeholder) {
    display: inline-block;
    border: 1px black double;
    background-color: lightgrey;
    padding: auto;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 0px;
}

li.item.placeholder {
    list-style: none;
    height: 30px;
    width: 0;
}

img.itemImage {
    height: 150px;
    width: 150px;
}

button.print-button {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #F44336;
  border: solid;
  border-color: #F44336;
}

button.print-button:hover {
  background-color: #cc1c0e;
  color: lightgray;
}

button.home-button {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #F44336;
  border: solid;
  border-color: #F44336;
}

#container {
    display: grid;
    grid-template-columns: 0fr 3fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:"home zoek print"
                        "lln_balk CPage"
}

#home {
    background-color: #F44336;
    padding-left: 10px;
    border-right: dashed #f22615;
    border-bottom: solid #f22615;
    color: white;
    padding-top: 1%;
}

#zoek {
    background-color: #F44336;
    border-right: dashed;
    border-color: #f22615;
    color: white;
    text-align: center;
    border-bottom: solid #f22615;
}

#print {
    background-color: #F44336;
    color: white;
    text-align: center;
    border-bottom: solid #f22615;
}

#lln_balk {
    background-color: #ff4f42;
    border-right: solid;
    border-color: #d8473c;
    color: white;
    padding-left: 2%;
}

#CPage {
    background-color: lightgray;
    width: 133.3334%;

#workinprogress {
  background-image: url(https://www.scansys.eu/scansysfld/uploads/2017/06/Work_In_Progress.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgray;
  width: 200%;
}

#level1 {
  min-height: 210px;
}

#level2 {
  min-height: 210px;
}
