body {
    margin:0;
}

/* .CNavbar {
    top: 0;
}

.CoderclassImage {
    max-height: 50px;
    width: auto;
    height: auto;
}

ul.ulNavbar {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    width: 100%;
}

li.navbarItem {
    display: inline-block
} */

p.level {
    width: inherit;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 5px;
    margin-top: 0;
    font-size: 20px;
}

ul.itemList {
    height: auto;
    min-height: 50px;
}

li.item:not(.placeholder) {
    display: inline-block;
    border: 1px black double;
    background-color: lightgrey;
    padding: auto;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 0px;
}

li.item.placeholder {
    list-style: none;
    height: 30px;
    width: 0;
}

img.itemImage {
    height: 150px;
    width: 150px;
}

#container {
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:"home zoek print"
                        "lln_balk CPage"
                        "lln_balk CPage"
}

#home {
    background-color: #F44336;
    padding-left: 10px;
    border-right: dashed;
    border-color: #f22615;
    color: white;
    padding-top: 1%;
}

#zoek {
    background-color: #F44336;
    border-right: dashed;
    border-color: #f22615;
    color: white;
    text-align: center;
}

#print {
    background-color: #F44336;
    color: white;
    text-align: center;
}

#lln_balk {
    background-color: #ff4f42;
    border-right: solid;
    border-top: solid;
    border-color: #d8473c;
    color: white;
    padding-left: 2%;
}

#CPage {
    background-color: lightgray;
    width: 200%;
}
